/* ####### ART BOOK STYLES ####### */

/* ##### STANDARD STYLES, general inheritance to other elements ##### */
body
{
	font-size: 12px;
	font-family: "Lucida Grande",Tahoma,"Lucida Sans Unicode",Verdana,sans-serif;
	background-color: #000;
}
table, td
{
}
img { border: none; margin: 0; padding: 0;}

#page
{
}

/* ########## */
/* ##### HEADER STYLES, default ##### */
#header{
}



#header h1
{
 	color: #fff;
 	font-size: 1.0em;
	font-weight: bold;
 	margin: 0;
 	font-weight: lighter;
	font-family: "Lucida Grande",Tahoma,"Lucida Sans Unicode",Verdana,sans-serif;
 }

#header h2
{
 	color: #fff;
 	font-size: 0.9em;
	font-weight: bold;
 	margin: 0;
 	font-weight: lighter;
	font-family: "Lucida Grande",Tahoma,"Lucida Sans Unicode",Verdana,sans-serif;
}

#header h3
{
 	color: #fff;
 	font-size: 0.8em;
	font-weight: bold;
 	margin: 0;
 	font-weight: lighter;
	font-family: "Lucida Grande",Tahoma,"Lucida Sans Unicode",Verdana,sans-serif;
}

a:link 
{
		color: white;
        text-decoration: underline; !important; 
}
a:hover 
{
		color: #999;
        text-decoration: none; !important; 
}
/* a:active { text-decoration: none !important; }*/
a:visited 
{ 
		color: #CCC; 
		text-decoration: none !important; 
}
/* ########## */
/* ##### GENERAL NAVIGATION STYLES, controls previous & next number menu between pages ##### */

#content
{
	padding: 0px;
	margin-left: -10px;
}

/* ##### PHOTO STYLES ##### */
#content #photo
{
padding-bottom: 25px; 
}

#footer
{
	margin: 15px 0 0 0;
	text-align: right;
	font-size: 0.87em;	
	color: #fff;
}
#footer p.footerCopy
{
	margin: 0 15px 15px 15px;
	padding: 5px 0px 0px 0px;
}